.box {
  margin: 40px auto;
  background: #005eff;
  width: 350px;
  height: 350px;
  cursor: pointer;
  transition-duration: 3s;
}

.box:hover {
  transform: rotate(720deg);
  background-color: rgb(68, 236, 68);  
  border-radius: 50%;
}  
